
<ion-view view-title="Home">
  <ion-content>
	<div class="dish-type">
	<div>
	  <a class="item" href="#/app/recipeList/?type=breakfast">
	    Breakfast
	  </a>
	  </div>
	  <div>
		<a class="item" href="#/app/recipeList/?type=maindish">
	    Main dish
	  </a>
	  </div>
	  <div>
	  <a class="item" href="#/app/recipeList/?type=sidedish">
	    Side dish
	  </a>
	  </div>
	 <!--  <a class="item" href="#/app/recipeList/?type=desert">
	    Desert
	  </a>
	  <a class="item" href="#/app/recipeList/?type=fusion">
	    Fusion
	  </a> -->
	</div>
  </ion-content>
</ion-view>