<ion-view view-title="Description">
  <div class="bar bar-header bar-balanced">
    <h1 class="title">bar-balanced</h1>
  </div>
  <ion-content class="side-space">
      <p>

        Ethiopian/Eritrean typical meal consists of injera and several kinds of wot (stew). This cuisine consists of vegetable and
        often very spicy meat dishes. This is usually in the form of wot served on top of injera, a large sourdough flatbread,
        which is about 50 centimeters (20 inches) in diameter and made out of fermented teff flour. Ethiopians and Eritreans
        eat with their hands, using pieces of injera to pick up bites of entrées and side dishes.
      Some terms explained:
      <br/>- Berbere is a spice mixture whose constituent elements usually include chili peppers, garlic, ginger, basil, korarima,
      rue, ajwain or radhuni, nigella, and fenugreek. It is a key ingredient in the cuisine.
      <br/> - Mitmita is another powdered spicy food. It is usually served as a side to make dishes spicy.
  
    </p>
  </ion-content>
</ion-view>