<ion-view view-title="Description">
  <div class="bar bar-header bar-balanced">
    <h1 class="title">bar-balanced</h1>
  </div>
  <ion-content>

    <p class="side-space">
      </pclass>- Berbere is a spice mixture whose constituent elements usually include chili peppers, garlic, ginger, basil, korarima,
      rue, ajwain or radhuni, nigella, and fenugreek. It is a key ingredient in the cuisine.
      <br/> - Mitmita is another powdered spicy food. It is usually served as a side to make dishes spicy.
    </p>
  </ion-content>
</ion-view>