/* Empty. Add your own CSS if you like */

.header-style1 {
    font-size: 16px;
    /* font-weight: bold; */
    font-style: italic;
    padding-top: 15px;
}

.ingredients li {
    padding-top: 7px;
    padding-bottom: 7px;
}

.steps li {
    padding: 1px 5px;
}

.side-space {
    padding: 20px;
}

.side-space p {
    font-size: 15px;
}

.dish-type .item {
    font-size: 24px;
    text-align: center;
}

.dish-type .item {
    height: 130px;
}

.dish-type div {
    line-height: 130px;
    vertical-align: middle;
}

.odd {
    background-color: #FFFFE0;
    font-weight: 500;
}

.even {
    background-color: #CCCC00;
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

.filterList {
    padding: 10px;
}

.popover {
    height: 180px;
}

.list .dietList {
    font-size: 12px;
}

.dietList {
    padding-top: 10px;
    padding-bottom: 10px;
}

#filter {
    padding-top: 3px;
}

#filter button {
    zoom: 0.9;
}